@media only screen  and (max-width: 687px){
    .more-form{
        width: 100%;
        padding: 10px;
    }
    .area-text{
        width: 100%;
    }
    .more-h1{
        font-size:15px;
    }
    /* tableReview */
    .table-card{
        width:90%;
        margin-left:18px;
    }

    /* addService */
    .add-form{
        width: 100%;
        padding-left:30px;
        padding-top:30px;
        margin-bottom: 50px;
    }
    .input-form{
        width:80%;
    }
    .area-area{
        width: 300px;
    }
}